$light-blue: #00CFFF;
$light-green: #00E2AC;
$green-white: #EEFDF9;
$dark-grey: #999999;

#intro {
  h1, h5 {
   text-shadow: 0px 5px 5px rgba(0,0,0,0.25);;
  }
  h5 {
    margin-bottom: 20px;
    font-weight: 700;
  }
}

#contact {
  text-align: center;
  p {
    max-width: 740px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
  }
}

#hamburger {
  display: flex;
  cursor: pointer;
  position: fixed;
  height: 34px;
  width: 40px;
  left: 30px;
  top: 20px;
  z-index: 1;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  img {
    width: 30px;
    height: 30px;
  }
  &:hover {
    background: $light-blue;
  }
}

#footer {
  display: flex;
  flex-direction: row;
  height: 40px;
  padding-bottom: 150px;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;

  a {
    color: black;
    margin-right: 20px;
    margin-left: 5px;
    font-size: 16px;
    padding: 0px;
    line-height: 40px;
  }

  .footer-item {
    flex: 1;
    max-width: 100px;
  }
}

#close-btn {
  align-self: flex-start;
  margin-left: 30px;
  margin-top: 10px;
  color: white;
  cursor: pointer;

  &:hover {
    opacity: .5;
  }

  img {
    width: 30px;
    height: 30px;
  }
}

#social {
  padding: 20px;
  a {
    margin: 0 10px 0 10px;
    text-decoration: none;
  }
  img {
    height: 20px;
    &:hover {
      opacity: .5;
    }
  }
}

#about {
  min-height: 0;
}

#gallery {
  background-color: $green-white;
  .container {
    padding: 0;
    margin: 0;
  }
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  color: white;
  font-family: "Roboto", Serif;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  position: fixed;
  width: 0px;
  height: 100%;
  background: #000;
  transition: all 0.5s ease;

    a {
      color: white;
      margin-left: 10px;
      font-size: 24px;
    }

    h2 {
      padding: 0px;
      margin: 4px;
      font-size: 40px;
      line-height: 40px;
    }

    &.open {
      width: 320px !important;
    }
}

.hero {
  font-family: "Roboto", Serif;
  display: flex;
  min-height: 800px;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  padding-bottom: 50px;
  text-align: center;

  h1 {
    font-size: 72px;
    line-height: 55px;
  }

  h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 40px;
  }

  h5 {
    font-size: 24px;
  }

  &.landscape {
    color: white;
  }

  &.bridge {
    background-image: url('../img/full-width.JPG')
  }
}

.col-md-4 {
  img {
    height: 100%;
    max-width: 390px;
    max-height: 280px;
  }
  overflow: hidden;
  padding: 0 5px 10px 5px;
}

.cta {
  padding: 0;
  width: 180px;
  line-height: 50px;
  font-size: 18px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background: black;

  &:hover {
    background: $light-blue;
  }
}

.sidebar-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-col {
  color: $light-green;
  text-align: right;
  text-transform: uppercase;
  padding: 20px;

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 55px;
  }
}

.right-col {
  text-align: left;
  padding: 20px;
  h5 {
    font-size: 24px;
    line-height: 30px;
  }
}

#copyright {
  flex-direction: row;
  flex: 1;
  color: #00E2AC;
  text-align: right;
  span {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 480px) {
  #intro {
    min-height: 640px;
  }

  .left-col h2 {
    font-size: 42px;
    line-height: 40px;
  }

  #footer {
    margin-left: 20px;
    margin-right: 20px;
    h4 {
      padding-right: 20px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .row {
    width: 100%;
  }

  .col-md-4 {
    width: 100%;
    img {
        width: 100%;
        max-width: 992px;
        max-height: 900px;
     }
  }
}








